<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayToDay</title>
    <link href="src/responsive-carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Footer-with-logo.css">
    <link rel="stylesheet" href="/views/layouts/stylesGlobal.css"
</head>

<div class="nav-bar">
    <nav class="navbar navbar-dark bg-dark">
        <div class="logo">
            <a href="/">
                <img src="" alt="logo" />
            </a>
        </div>
        <div class="listaHome">
            <ul class="nav justify-content-end">
                <li class="nav-item"><a href="/login" class="nav-link" href="#">LOGIN</a></li>
                <li class="nav-item"><a href="/cadastrar" class="nav-link" href="#">CADASTRE-SE</a></li>
            </ul>
        </div>
    </nav>
</div>
<body>
    {{{body}}}
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="dist/responsive-carousel.min.js"></script>
<div class="content">
</div>
    <footer id="myFooter" >
        <div class="container">
            <div>
                <small>DESENVOLVIDO POR ESTUDANTES DA UNIVERSIDADE FEDERAL DO CEARÁ - CAMPUS QUIXADÁ.</small>
            </div>
            <div class="social-icons">
                    <a href="" class="instagram"><i class="fa fa-instagram"> @pinheiromilly</i></a>
                    <a href="" class="instagram"><i class="fa fa-instagram"> @luanleyson</i></a>
            </div>
            <div class="footer-copyright">
                <small>© 2020 Copyright - Todos os direitos reservados - Day to day</small>
            </div>
        </div>
    </footer>

</html>