<div class="container">
    <br />
    <form action='' method="POST">
        <h3>Qual evento você está procurando?</h3><br />
        <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Pesquisar por nome do evento">
        </div>
        <div class="col">
            <input type="date" class="form-control" placeholder="Pesquisar por data">
        </div>
        <div class="col">
            <button type="submit" class="form-control btn btn-dark">Procurar</button>
        </div>
        </div>
    </form>

    <br />
    <table class="table">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Evento:</th>
        <th scope="col">Local:</th>
        <th scope="col">Data:</th>
        <th scope="col">Horário:</th>
        <th scope="col">O que quer fazer?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="col">1</th>
        <td>Evento 1</td>
        <td>Local 1</td>
        <td>10/11/2020</td>
        <td>22:00</td>
        <td><button>Excluir</button><button>Editar</button></td>
        </tr>
        <tr>
        <th scope="col">2</th>
        <td>Evento 2</td>
        <td>Local 2</td>
        <td>25/04/2020</td>
        <td>20:00</td>
        <td><button>Excluir</button><button>Editar</button></td>
        <td></td>
        </tr>
        <tr>
        <th scope="col">3</th>
        <td>Evento 3</td>
        <td>Local 3</td>
        <td>12/12/2020</td>
        <td>12:00</td>
        <td><button>Excluir</button><button>Editar</button></td>
        </tr>
    </tbody>
    </table>
</div>