<div class="form-group">
    <form action='' method="POST">
    <p>Cadastro</p>
    <input type='text' name='nome' placeholder="digite seu nome completo*" /><br />
    <input type='email' name='email' placeholder="digite um e-mail válido*" /><br />
    <input type='password' name='senha' placeholder="digite uma senha para acesso*" />
    <input type='password' name='senhaA' placeholder="digite a senha novamente*" /><br />

    <button type="submit" name="cadastrar">Cadastrar</button>   
</form>
</div>

