
<div class="form-group">
    <form action='' method="POST">
    <h3>Cadastro</h3><br />
    <input type="text" 
    class="form-control" 
    id="exampleInputText1" 
    aria-describedby="textHelp"
    name='nome' 
    placeholder="digite seu nome completo*"
    ><br />
    <input type="email" 
    class="form-control" 
    id="exampleInputEmail1" 
    aria-describedby="emailHelp"
    name='email' 
    placeholder="digite um e-mail válido*"
    ><br />
    <div class="form-row">
        <div class="form-group col-md-6">
        <input type="password" 
        class="form-control" 
        id="inputPassword4"
        placeholder="digite uma senha para acesso*"
        >
        </div>
        <div class="form-group col-md-6">
        <input type="password" 
        class="form-control" 
        id="inputPassword4"
        placeholder="digite a senha novamente*"
        >
        </div>
    </div>
    
    <button type="submit" 
    class="btn btn-primary">Cadastrar</button> 

    </form>
</div>

