<div class="container">

    <div class="form-group">
        <br />
        <form action='' method="POST">
            <h3>Cadastre seu evento aqui!</h3><br />
            <input type="text" 
            class="form-control" 
            id="exampleInputText1" 
            aria-describedby="textHelp"
            name='nome' 
            placeholder="Nome do evento*"
            ><br />

            <input type="text" 
            class="form-control" 
            id="exampleInputText1" 
            aria-describedby="textHelp"
            name='local' 
            placeholder="Local que acontecerá*"
            ><br />

        <div class="form-row">
            <div class="form-group col-md-6">
            <input type="date" 
            class="form-control" 
            id="inputDate4"
            placeholder="Data*"
            >
            </div>
            <div class="form-group col-md-6">
            <input type="time" 
            class="form-control" 
            id="inputTime4"
            placeholder="Horário*"
            >
            </div>
        </div>
        
        <button type="submit" 
        class="btn btn-dark">Cadastrar</button> 

        </form>
    </div>
</div>
