<div class="form-group">
    <form action='' method="POST">

    <h3>Login</h3><br />

    <input type="email" 
    class="form-control" 
    id="exampleInputEmail1" 
    aria-describedby="emailHelp"
    name='email' 
    placeholder="digite seu e-mail"
    >
    
    <br />
    <input type="password" 
    class="form-control" 
    id="exampleInputPassword1" 
    aria-describedby="passwordlHelp"
    name='senha' 
    placeholder="digite sua senha"
    >
    <br />

    <button type="submit" 
    class="btn btn-primary">Entrar</button>
</form>
</div>