<div class="container">

    <div class="form-group">
    <br />
    <form action='' method="POST">

    <h3>Login</h3><br />

    <input type="email" 
    class="form-control" 
    id="exampleInputEmail1" 
    aria-describedby="emailHelp"
    name='email' 
    placeholder="e-mail"
    >
    
    <br />
    <input type="password" 
    class="form-control" 
    id="exampleInputPassword1" 
    aria-describedby="passwordlHelp"
    name='senha' 
    placeholder="senha"
    >
    <br />

    <button type="submit" 
    class="btn btn-dark">Entrar</button>
    </form>

    <br />
    <p>Ainda não tem cadastro?</p>
    <a href="/cadastrar"><button class="btn btn-warning">Cadastre-se</button></a>
   
    </div>
</div>